!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript'}
    %meta{:name => 'description', :content => '次の祝日を教えてくれるサービス'}
    %meta{:name => 'keywords', :content => '祝日,お休み,休日,お出かけ'}
    %title Next Holiday
    %link{:href => '/images/apple-touch-icon.png', :rel => 'apple-touch-icon'}
    %link{:href => 'http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.5.2.min.js'}
    %script{:type => 'text/javascript', :src => '/js/app.js'}
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js'}
  %body{:class => season}
    %div{:data => {:role => "page", :theme => "c"}}
      %div{:data => {:role => "header", :backbtn => "false"}}
        %h1 Next Holiday
        %a.ui-btn-right{:href => "/help.html", :data => {:icon => "info", :rel => "dialog", :iconpos => "notext"}} info
      %div{:data => {:role => "content"}}
        %div.next-holiday
          .date== #{@holiday.date.month}月#{@holiday.date.day}日
          .name= @holiday.name
        <a id="target" href="/date/#{@holiday.date.next}"></a>
        <a id="home" href="/" data-direction="reverse"></a>
      %div{:data => {:role => "navbar"}}
      %div{:data => {:role => "footer"}}
        %p.copyright
          Copyright &copy; <a href="http://fjord.jp">FJORD, LLC</a> Created by <a href="http://twitter.com/machida">@machida</a> and <a href="http://twitter.com/komagata">@komagata</a>
