body
  background-repeat: none
  background-size: cover
  background-image: center center
  font-family: serif

.wrapper
  padding: 2rem
  display: flex
  flex-direction: column
  justify-content: flex-start
  background-repeat: none
  background-size: cover
  background-image: center center
  +size(100vw 100vh)
  +media-breakpoint-down(sm)
    padding: 1rem

.main
  flex: 100
