.footer
  +text-block(.875rem 1, white flex)
  align-items: flex-end
  +media-breakpoint-down(sm)
    display: block
    line-height: 1.5
    font-size: .75rem
  a
    +hover-link
    color: white
  >*
    margin-right: .75rem
    display: block
    +media-breakpoint-down(sm)
      margin-right: 0
    &:last-child
      margin-right: 0

.footer__title
  font-weight: 400
  font-family: 'EB Garamond', serif
  font-size: 1.25rem
  +media-breakpoint-down(sm)
    font-size: .875rem
